@import "bootstrap";

.container {
    background-color: #ededed;
    color: #343434;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    h1 {
        font-family: 'Bitter', serif;
        line-height: 1.4;
        word-spacing: 3px;
        max-width: 45rem;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
    }
    
    .highlight {
        display: inline-block;
        color: #343434;
        transition: color 250ms, text-shadow 250ms;
        text-decoration: none;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
        
        position: relative;
        z-index: 0;

        &::after {
            position: absolute;
            z-index: -1;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            width: 100%;
            height: 3px;
            background-color: #343434;
            transition: all 250ms;
        }

        &:hover {
            color: white;
            text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
            
            &::after {
                height: 105%;
                width: 105%;
            }
            
        }
        
    }
    
}

h1{
background-color: #fff;
  color: #333;
  margin-left: 600px;
  margin-top: 100px;
  margin-bottom: 100px;
 



  font-size: 130px;
  line-height: 18px;
}







$mouse-width: 2.5rem;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.618;
}

h1,
{
    font-family: 'Playfair Display', serif;
    line-height: 1.2;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

h1 {
    font-size: 3rem;
    max-width: 35rem;
    text-align: center;
}



.hero {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12rem 2rem;
    color: white;
    background: {
        image: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%), url('https://source.unsplash.com/random/1920x1080/?sky');
        blend-mode: multiply;
        size: cover;
    }
}

.mouse {
    max-width: $mouse-width;
    width: 100%;
    height: auto;
}

.scroll {
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
    animation-iteration-count: infinite;
    transform-origin: 50% 20.5px;
    will-change: transform, opacity;
    opacity: 1;
}

.scroll-link {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes scroll {

    0%, 20% {
        transform: translateY(0) scaleY(1);
    }

    100% {
        transform: translateY(36px) scaleY(2);
        opacity: 0;
    }

}

.content {
    min-height: 100vh;
    max-width: 28rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}


h3 {


font-family: 'Rock Salt', cursive;
margin-left: 700px;
margin-top: 50px;
margin-bottom: 80px;
font-size: 60px;
}



p, ol, ul, td, {

    font-family: 'Covered By Your Grace', cursive;
    
}