@import "bootstrap";

.container {
    background-color: #ededed;
    color: #343434;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    h1 {
        font-family: 'Bitter', serif;
        line-height: 1.4;
        word-spacing: 3px;
        max-width: 45rem;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
    }
    
    .highlight {
        display: inline-block;
        color: #343434;
        transition: color 250ms, text-shadow 250ms;
        text-decoration: none;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
        
        position: relative;
        z-index: 0;

        &::after {
            position: absolute;
            z-index: -1;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            width: 100%;
            height: 3px;
            background-color: #343434;
            transition: all 250ms;
        }

        &:hover {
            color: white;
            text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
            
            &::after {
                height: 105%;
                width: 105%;
            }
            
        }
        
    }
    
}

h1{
background-color: #fff;
  color: #333;
  margin-left: 600px;
  margin-top: 100px;
  margin-bottom: 100px;
 



  font-size: 130px;
  line-height: 18px;
}









.content {
    min-height: 100vh;
    max-width: 28rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}


h3 {


font-family: 'Rock Salt', cursive;
margin-left: 650px;
margin-top: 50px;
margin-bottom: 80px;
font-size: 60px;
}



p, ol, ul, td, h4 {

   font-family: 'Ibarra Real Nova', serif;
    font-size: 20px;
}

h3 {
    color: #000000;
}


body ,h1 {
    background-color: #DCDCDC;
}

    
.carousel {

    margin-left: 700px; 
}